<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>chose</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:each="transaction : ${transactions}">
        <tr>
            <td th:text="${transaction.id}"></td>
            <td th:text="${transaction.name}"></td>
            <td th:test="${transaction.description}"></td>
            <td th:test="${transaction.value}"></td>
            <td th:test="${transaction.date}"></td>
            <td>
                <a th:href="@{'/index/addTransaction?id=' + ${transaction.id}}">Add</a>
            </td>
        </tr>
    </th:block>

    <form th:object="${newTransaction}" method="post" th:action="@{/transactions}">
        <input th:field="*{name}">
        <button th:type="submit">Add</button>
    </form>
</div>
</body>
</html>